/*== Geral =================== */

@media (min-width: 1439px) {
    h1 {
      font-size: 4rem;
    }
  }

body {
    font-family: 'Bai Jamjuree', sans-serif;
  }

.img-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    display: block; /* para alinhar a imagem no centro horizontal */
    margin: 0 auto; /* para alinhar a imagem no centro vertical e horizontal */
    margin-top: 200px;
}

.page-1 h1 {
    color: hsl(210, 10%, 33%);
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-1 p {
    color: hsl(201, 11%, 66%);
    display: flex;
    justify-content: center;
    text-align: center;
}

.container{
    padding: 0;
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ios {
    background: hsl(171, 66%, 44%);
    color: hsl(0, 0%, 100%);
    outline: none;
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 4rem;
    font-size: 13px;
    transition: all 0.5s ease 0s;
    border-bottom: 2px solid hsl(171, 66%, 35%);
}

.ios:hover {
    background: hsl(171, 66%, 35%);
}

.mac{
    background: hsl(233, 100%, 69%);
    color: hsl(0, 0%, 100%);
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 4rem;
    font-size: 13px;
    transition: all 0.5s ease 0s;
    border-bottom: 2px solid hsl(233, 49%, 52%);
    margin-left: 20px;
}

.mac:hover {
    background: hsl(233, 49%, 52%);
}



.page-2 h1 {
    margin-top: 100px;
    color: hsl(210, 10%, 33%);
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-2 p {
    color: hsl(201, 11%, 66%);
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-h2 {
    overflow: auto; /* para que o contêiner se expanda para conter a imagem e o texto */
    margin-top: 50px;
  }

.container-h2 h2 {
    margin-top: 50px;
    color: hsl(210, 10%, 33%);
    font-size: 25px;
    display: flex;
  }

.page-2 .container-h2 p {
    margin-top: 50px;
    color: hsl(201, 11%, 66%);
    font-size: 15px;
}
  
.img-computer {
    float: left; /* para alinhar a imagem à esquerda */
    margin-right: 150px; /* para adicionar um espaço entre a imagem e o texto */
  }

.page-3 h1 {
    margin-top: 100px;
    margin-top: 100px;
    color: hsl(210, 10%, 33%);
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-3 p {
    color: hsl(201, 11%, 66%);
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.page-3 img {
    display: block; /* para alinhar a imagem no centro horizontal */
    margin: 0 auto; /* para alinhar a imagem no centro vertical e horizontal */
    margin-top: 100px;
}

.page-4 {
    overflow: auto;
}

.page-4 .container {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    border: 0px solid;
    padding: 10px;
    text-align: center;
    flex-direction: column;
}

.page-4 img {
    max-width: 100%; /* para garantir que a imagem não ultrapasse o tamanho da div */
    height: auto; /* para manter a proporção da imagem */
    display: block; /* para centralizar a imagem horizontalmente */
    margin: 0 auto; /* para centralizar a imagem verticalmente */
}

.page-4 h1 {
    margin-top: 50px;
    color: hsl(210, 10%, 33%);
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-4 p {
    color: hsl(201, 11%, 66%);
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.page-5 {
    margin: 200px;
}

.image1 {
    margin: 3%;
}  

.image2 {
    margin: 3%;
}  

.image3 {
    margin: 3%;
}  

.image4 {
    margin: 3%;
}  

.image5 {
    margin: 30px;
}  

.page-6 h1 {
    color: hsl(210, 10%, 33%);
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-6 p {
    color: hsl(201, 11%, 66%);
    display: flex;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    padding: 16px;
    margin-top: 200px;
    display: flex;
    height: 120px;
}


img.logoFooter {
    height: 40px;
    margin-left: 5%;
    margin-top: 3%;
}

.linksFooter {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    margin: 20px 0px 20px 100px;
  }

.item {
    text-decoration: none;
    color: rgb(125, 125, 125);
    margin: 20px;

}


.socialFooter {
    height: 36px;
    display: flex;
    margin-left: 40%;
    margin-top: 3%;
}

.icon {
    margin: 8px;
}